.vuecal__flex .vuecal__menu {
  display: none;
}
.vuecal__event.lunch {
  background: repeating-linear-gradient(45deg, transparent, transparent 10px, #f2f2f2 10px, #f2f2f2 20px);/* IE 10+ */
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vuecal__event.lunch .vuecal__event-time {
  display: none;align-items: center;
}
.vuecal{
  background-color: rgba(0, 0, 0, 0.5)
}
.vuecal__title{
  color: #008544;
}
.vuecal__event-time, .vuecal__event-title{
  color: white;
  font-size: 15px;
}
.vuecal__event--background{
  background-color: rgba(0, 133, 64, 0.5) !important;
}